@charset "utf-8";

$family-sans-serif: "Arial", sans-serif;
$max-width: 1200px;
$body-size: 12pt;

$fire-engine-red: rgba(227, 5, 24, 1);
$arcade-green: rgba(11, 193, 182, 1);
$hot-pink: rgba(255, 20, 148, 1);
$warehouse-blue: rgba(4, 110, 182, 1);
$soft-pink: rgba(225, 207, 207, 1);
$factory-yellow: rgba(255, 229, 0, 1);

// $primary: #f00;
$secondary: #7af;
$success: $hot-pink;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/form/_all.sass";

.is-secondary {
  background: $secondary;
  color: #fff;
  border-color: transparent;

  &:hover {
    color: #fff;
    background-color: darken($secondary, 2%);
  }
}

a b {
  color: $dark;
  &:hover {
    color: $info;
  }
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}